.card {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.cardImg {
  height: 70%;
  position: relative;
}

.card p {
  color: black;
}
